{% extends "base.html.twig" %}

{% block title %}Home Page{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>HomePage</h1>
    <div>
        <ul>
            <li>
                <a href="/news">News</a>
            </li>

            <li>
                <a href="/authors">Authors</a>
            </li>
        </ul>
    </div>
{% endblock %}